/*
Theme Name: BBT Digital Foundation Theme
Version: 1.0
Description:
Author: BBT Digital
Author URI: http://bbtdigital.com
Template: sparkling
Description: Sparkling is a clean minimal and responsive WordPress theme well suited for travel, health, business, finance, portfolio, design, art, photography, personal and any other creative websites and blogs. Developed using Bootstrap 3 that makes it mobile and tablets friendly. Theme comes with full-screen slider, social icon integration, author bio, popular posts widget and improved category widget. Sparkling incorporates latest web standards such as HTML5 and CSS3 and is SEO friendly thanks to its clean structure and codebase. It has dozens of Theme Options to change theme layout, colors, fonts, slider settings and much more. Theme is also translation and multilingual ready and is available in Spanish, French, Dutch, Polish, Russian, German, Brazilian Portuguese, Portuguese (Portugal), Persian (Iranian language), Romanian, Turkish, Bulgarian, Japanese and Italian. Sparkling is a free WordPress theme with premium functionality and design. Now theme is optimized to work with bbPress, Contact Form 7, Jetpack and other popular free and premium plugins.
Version: 1.7.11
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Text Domain: sparkling
Domain Path: /languages/
Tags: green, light, white, gray, black, one-column, two-columns, right-sidebar, fluid-layout, responsive-layout, photoblogging, left-sidebar, translation-ready, custom-background, custom-colors, custom-menu, featured-images, full-width-template, post-formats, theme-options, threaded-comments


This theme, like WordPress, is licensed under the GPL.

sparkling is based on Underscores http://underscores.me/, (C) 2012-2014 Automattic, Inc.

*/

/* Table of content
-----------------------------------------------
1. Global
2. Content
3. Post styling
4. Singe Post/Page Pagination
5. Media
6. Widgets
7. Buttons
8. Infinite Scroll
8. Custom Styles
9. Navigation
10. Comments
11. Attachment styling
12. Gallery
13. Footer
14. Social icons
15. Call For Action
*/

/* =Global
----------------------------------------------- */


body {
  color: #6B6B6B;
  background-color: #F2F2F2;
  word-wrap: break-word;
  font-family: 'Open Sans', sans-serif;
  line-height: 1.7;
  font-size: 14px;
}

a {
  color: #DA4453;
  text-decoration: none;
  -webkit-transition: all 0.3s;
     -moz-transition: all 0.3s;
       -o-transition: all 0.3s;
          transition: all 0.3s;
}

a:hover,
a:focus {
  color: #DADADA;
  text-decoration: none;
}

a:focus {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  color: #DA4453;
  font-weight: 700;
  font-family: 'Roboto Slab', serif;
}

h1,
.h1 {
  font-size: 28px;
}

h2,
.h2 {
  font-size: 24px;
}

h3,
.h3 {
  font-size: 20px;
}

h4,
.h4 {
  font-size: 16px;
}

h5,
.h5 {
  font-size: 14px;
}

h6,
.h6 {
  font-size: 13px;
}

img {
  height: auto; /* Make sure images are scaled correctly. */
  max-width: 100%; /* Adhere to container width. */
}
button,
input,
select,
textarea {
  font-size: 100%; /* Corrects font size not being inherited in all browsers */
  margin: 0; /* Addresses margins set differently in IE6/7, F3/4, S5, Chrome */
  vertical-align: baseline; /* Improves appearance and consistency in all browsers */
  *vertical-align: middle; /* Improves appearance and consistency in all browsers */
}

input[type="checkbox"],
input[type="radio"] {
  padding: 0; /* Addresses excess padding in IE8/9 */
}
input[type="search"] {
  -webkit-appearance: textfield; /* Addresses appearance set to searchfield in S5, Chrome */
  -webkit-box-sizing: content-box; /* Addresses box sizing set to border-box in S5, Chrome (include -moz to future-proof) */
  -moz-box-sizing:  content-box;
  box-sizing:     content-box;
}
input[type="search"]::-webkit-search-decoration { /* Corrects inner padding displayed oddly in S5, Chrome on OSX */
  -webkit-appearance: none;
}
button::-moz-focus-inner,
input::-moz-focus-inner { /* Corrects inner padding and border displayed oddly in FF3/4 www.sitepen.com/blog/2008/05/14/the-devils-in-the-details-fixing-dojos-toolbar-buttons/ */
  border: 0;
  padding: 0;
}
input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
textarea {
  color: #666;
  border: 1px solid #E8E8E8;
  border-radius: 3px;
}
input[type="text"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
input[type="search"]:focus,
textarea:focus {
  color: #111;
}
input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"] {
  padding: 3px;
}
textarea {
  overflow: auto; /* Removes default vertical scrollbar in IE6/7/8/9 */
  padding-left: 3px;
  vertical-align: top; /* Improves readability and alignment in all browsers */
  width: 100%;
}


/* Alignment */
.alignleft {
  display: inline;
  float: left;
  margin-right: 1.5em;
}
.alignright {
  display: inline;
  float: right;
  margin-left: 1.5em;
}
.aligncenter {
  clear: both;
  display: block;
  margin: 0 auto;
}

/* Text meant only for screen readers */
.screen-reader-text {
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute !important;
}

.screen-reader-text:hover,
.screen-reader-text:active,
.screen-reader-text:focus {
  background-color: #f1f1f1;
  border-radius: 3px;
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
  clip: auto !important;
  color: #21759b;
  display: block;
  font-size: 14px;
  font-weight: bold;
  height: auto;
  left: 5px;
  line-height: normal;
  padding: 15px 23px 14px;
  text-decoration: none;
  top: 5px;
  width: auto;
  z-index: 100000; /* Above WP toolbar */
}

/* Clearing floats */
.clear:before,
.clear:after,
.gallery:before,
.gallery:after,
.entry-content:before,
.entry-content:after,
.comment-content:before,
.comment-content:after,
.site-header:before,
.site-header:after,
.site-content:before,
.site-content:after,
.site-footer:before,
.site-footer:after,
.home-widget-area:before {
  content: '';
  display: table;
}

.clear:after,
.entry-content:after,
.gallery:after,
.comment-content:after,
.site-header:after,
.site-content:after,
.site-footer:after,
.home-widget-area:before {
  clear: both;
}

/* =Content
----------------------------------------------- */

.sticky {
}
.hentry {
  margin: 0;
}
.byline,
.updated {
  display: none;
}
.single .byline,
.group-blog .byline {
  display: inline;
  margin-right: 0;
}
.page-content,
.entry-content,
.entry-summary {
  margin: 1.5em 0 0;
}
.page-links {
  clear: both;
  margin: 0 0 1.5em;
}
.main-content-area {
  margin-top: 40px;
  margin-bottom: 40px;
}
/* =Post styling
----------------------------------------------- */
.entry-meta a {
  font-size: 13px;
  color: #6B6B6B;
}
.entry-meta {
  margin-bottom: 30px;
}
footer.entry-meta {
  margin-bottom: 0;
}
.page-header {
  margin-top: 0;
  border-bottom: 0;
  padding-bottom: 0;
}
.entry-meta .fa {
  font-size: 14px;
  margin-right: 3px;
}
.entry-meta span {
  margin-right: 10px;
}
.entry-title {
  color: #444;
  margin-bottom: 30px;
}
.entry-title a {
  color: #444;
}
.entry-title a:hover {
  color: #DA4453;
}
.btn.btn-default.read-more {
  float: right;
  margin-top: 10px;
  font-size: 12px;
  padding: 11px 13px;
}
.search .btn.btn-default.read-more {
  float: none;
}
hr.section-divider {
  border-color: #E8E8E8;
  margin-top: 50px;
  margin-bottom: 50px;
}
/* author */
.author-bio {
  clear: both;
  width: 100%;
  padding-top: 35px;
  padding-bottom: 35px;
}
.author-bio .avatar {
  float: left;
}
.author-bio-content h4 {
  font-size: 14px;
  margin-top: 0;
}
.author-bio .author-bio-content {
  margin-left: 74px;
}
.secondary-content-box {
  padding-top: 0;
  padding-bottom: 0;
}
.single-view,
.blog-item-wrap {
  margin-bottom: 50px;
}
.post-inner-content {
  padding: 45px 50px;
  background-color: #fff;
  border: 1px solid #dadada;
  border-top: none;
}
.post-inner-content:first-child {
  border-top: 1px solid #dadada;;
}
.entry-title {
  margin-top: 0;
}
.more-link,
.says {
  display: none;
}
.comment-author .fn,
.author-bio h4,
.comment-reply-title {
  text-transform: uppercase;
  font-weight: 700;
}
.comment-reply-title {
  font-size: 14px;
}
.comment-reply-link {
  background: #C1C0C0;
  border: #C1C0C0;
  font-size: 10px;
  text-transform: uppercase;
}
@media (orientation:landscape){
    .page-id-447 .wpb_content_element .wpb_gallery_slides ul li{ width: 48% !important;}
}
@media (min-width: 768px){
    .page-id-447 .wpb_content_element .wpb_gallery_slides ul li{ width: 48% !important;}
}
@media(max-width:767px){
    .post-inner-content {
        padding: 20px 25px;
    }
}
/* =Singe Post/Page Pagination
----------------------------------------------- */
.page-links span {
  display: inline-block;
  color: #fff;
  background-color: #DA4453;
  border-radius: 4px;
  padding: 2px 10px;
  margin-left: 2px;
}
.page-links a span {
  background-color: inherit;
  border: 1px solid #E8E8E8;
  color: #DA4453;
  -webkit-transition: all 0.5s;
     -moz-transition: all 0.5s;
       -o-transition: all 0.5s;
          transition: all 0.5s;
}
.page-links a:hover span {
  background-color: #DA4453;
  border: 1px solid #DA4453;
  color: #fff;
}
.pagination .fa-chevron-left,
.pagination .fa-chevron-right {
  font-size: 12px;
}
.pagination li a {
  color: #DA4453;
}
.pagination li:hover a {
  color: #DA4453;
}
.pagination>.active>a,
.pagination>.active>span,
.pagination>.active>a:hover,
.pagination>.active>span:hover,
.pagination>.active>a:focus,
.pagination>.active>span:focus {
  color: #FFF;
  background-color: #DA4453;
  border-color: #DA4453;
}
.pagination>li>a,
.pagination>li>span {
  padding: 9px 14px;
  border-color: #dadada;
}
.bottom-pagination {
  text-align: center;
}

/* =Asides
----------------------------------------------- */

.blog .format-aside .entry-title,
.archive .format-aside .entry-title {
  display: none;
}

/* =Media
----------------------------------------------- */

.page-content img.wp-smiley,
.entry-content img.wp-smiley,
.comment-content img.wp-smiley {
  border: none;
  margin-bottom: 0;
  margin-top: 0;
  padding: 0;
}
.single-featured {
  -webkit-transition: opacity 0.3s linear;
     -moz-transition: opacity 0.3s linear;
       -o-transition: opacity 0.3s linear;
          transition: opacity 0.3s linear;
  display: block;
  margin: auto;
}
.single-featured:hover {
  opacity: 0.8;
}
.wp-caption {
  border: 1px solid #ccc;
  margin-bottom: 1.5em;
  max-width: 100%;
}
.wp-caption img[class*="wp-image-"] {
  display: block;
}
.wp-caption-text {
  text-align: center;
}
.wp-caption .wp-caption-text {
  margin: 0.8075em 0;
}

/* Make sure embeds and iframes fit their containers */
embed,
iframe,
object {
  max-width: 100%;
}

/* =Widgets
----------------------------------------------- */

/* Make sure select elements fit in widgets */
.widget select {
  max-width: 100%;
}
/* Search widget */
.widget_search .search-submit {
  display: none;
}
.widget ul li {
  list-style: none;
  border-bottom: 1px solid #F2F2F2;
  margin-bottom: 10px;
  padding-bottom: 10px;
}
.widget ul {
  padding: 0;
  line-height: 18px;
  font-size: 14px;
}
.widget ul.nav.nav-tabs {
  padding: 0;
}
#secondary .widget {
  margin-bottom: 50px;
  color: #C1C0C0;
  overflow: hidden;
}
#secondary .widget:last-child {
  margin-bottom: 0px;
}
.tab-content ul li {
  list-style: none;
}
#secondary .widget_archive ul li:before,
#secondary .widget_categories ul li:before,
#secondary .widget_recent_comments ul li:before {
  font-family: fontawesome;
  margin-right: 10px;
}
#secondary .widget_archive ul li:before {
  content: '\f073';
}
#secondary .widget_categories ul li:before {
  content: '\f115';
}
#secondary .widget_recent_comments ul li:before {
  content: '\f0e5';
}
.well {
  background-color: #fff;
  padding: 30px;
  border: 1px solid #DADADA;
  overflow: hidden;
  clear: both;
}
#secondary .widget > h3 {
  font-size: 14px;
  text-transform: uppercase;
  margin-bottom: 25px;
  margin-top: 0;
  color: #636467;
}
#secondary .widget a {
  color: #C1C0C0;
}
.widget ul ul {
  padding: 10px;
}
.widget #social ul li {
    border-bottom: 0;
}
.not-found-widget {
  margin-top: 30px;
}
@media (max-width: 767px) {
    #secondary {
        clear: both;
    }
}

/* Custom Category Widget */
.cats-widget ul li span {
  float: right;
}
/* Recent Post widgets */
.popular-posts-wrapper .post {
  float: left;
  clear: both;
  margin-bottom: 20px;
}
.popular-posts-wrapper .post .post-image {
  width: 60px;
  height: 60px;
  float: left;
  display: block;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  background-color: #DADADA;
  background-position: center center;
  background-repeat: no-repeat;
  overflow: hidden;
}
.popular-posts-wrapper .post .post-image img {
  border-radius: 4px;
  opacity: 1;
  -webkit-transition: opacity  0.5s;
     -moz-transition: opacity  0.5s;
       -o-transition: opacity  0.5s;
          transition: opacity  0.5s;
}
.popular-posts-wrapper .post .post-image img:hover {
  opacity: 0.6 !important;
}
.popular-posts-wrapper .post .post-content {
  margin-left: 80px;
}
.widget .post-content > span {
  display: block;
}
#secondary .widget .post-content a {
  color: #DA4453;
}
#secondary .widget .post-content a:hover {
  color: #DADADA;
}
.widget .post-content span {
    font-size: 12px;
}
.tagcloud {
  margin-top: 25px;
}
.tagcloud a {
  padding: 6px 7px;
  margin-right: 0;
  margin-bottom: 4px;
  line-height: 100%;
  display: inline-block;
  color: #FFF !important;
  background-color: #DADADA;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  font-size: 12px !important;
}
.tagcloud a:hover {
  background-color: #DA4453;
  border-color: #DA4453;
}

/* =Buttons
----------------------------------------------- */
.btn-default, .label-default {
  background-color: #DA4453;
  border-color: #DA4453;
  -webkit-transition: background-color 0.3s linear;
     -moz-transition: background-color 0.3s linear;
       -o-transition: background-color 0.3s linear;
          transition: background-color 0.3s linear;
}
.btn-default:hover,
.label-default[href]:hover,
.label-default[href]:focus,
.btn-default:hover, .btn-default:focus,
.btn-default:active,
.btn-default.active,
#image-navigation .nav-previous a:hover,
#image-navigation .nav-next a:hover {
  background-color: #363636;
  border-color: #363636;
}
.btn.btn-default {
  color: #FFF;
  text-transform: uppercase;
}
.input-group-btn:last-child>.btn {
  margin-left: 0;
}
button {
  background-color: #DA4453;
  border: none;
  text-transform: uppercase;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  color: #fff;
  font-size: 12px;
  padding: 5px 12px;
  -webkit-transition: background-color 0.3s linear;
     -moz-transition: background-color 0.3s linear;
       -o-transition: background-color 0.3s linear;
          transition: background-color 0.3s linear;
}
button:hover {
  background-color: #363636;
}
#subscription-toggle {
    float: right;
}
/* =Infinite Scroll
----------------------------------------------- */

/* Globally hidden elements when Infinite Scroll is supported and in use. */
.infinite-scroll .paging-navigation, /* Older / Newer Posts Navigation (always hidden) */
.infinite-scroll.neverending .site-footer { /* Theme Footer (when set to scrolling) */
  display: none;
}

/* When Infinite Scroll has reached its end we need to re-display elements that were hidden (via .neverending) before */
.infinity-end.neverending .site-footer {
  display: block;
}
#infinite-handle span {
  display: block;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 10px;
  border-radius: 4px;
  padding: 20px;
  background: transparent;
  border: 1px solid #DADADA;
  background: #fff;
  color: #DA4453;
  -webkit-transition: all 0.5s;
     -moz-transition: all 0.5s;
       -o-transition: all 0.5s;
          transition: all 0.5s;
}
#infinite-handle span:hover {
  background-color: #DA4453;
  color: #fff;
}
/* =Custom Styles
----------------------------------------------- */
.site-branding {
  margin-top: 20px;
  margin-bottom: 20px;
}
.site-description {
  color: #777;
  font-weight: 200;
  font-size: 16px;
}
.page-template-page-homepage-php .carousel {
  margin-top: -20px;
  margin-bottom: 20px;
}

@media (max-width: 768px) {
  .pull-right {
    float: none !important;
  }
  .pull-left {
    float: none !important;
  }
  .flex-caption {
    display: none;
  }
}

/* =Navigation
----------------------------------------------- */

.site-content [class*="navigation"] a {
  border: 1px solid #DADADA;
  //background-color: #fff;
  padding: 8px 14px;
  font-size: 12px;
  border-radius: 4px;
  display: block;
  //margin: 0 0 1em;
  overflow: hidden;
      margin-top: 20px;
    margin-bottom: 10px;
}
.paging-navigation {
  text-transform: uppercase;
}
.site-content [class*="navigation"] a:hover {
  color: #fff;
  background: #DA4453;
  text-decoration: none;
}
.more-link {
  float: right;
  margin: 10px 0;
}
.single .nav-links {
    margin-top: 30px;
}
[class*="navigation"] .nav-previous {
  float: left;
}
[class*="navigation"] .nav-next {
  float: right;
  text-align: right;
}
.nav>li>a {
  text-transform: uppercase;
}
.navbar.navbar-default {
  background-color: #363636;
  font-family: 'Open Sans', serif;
  margin-bottom: 0;
  font-weight: 500;
}
.navbar-default .navbar-nav > li > a {
  color: #F5F7FA;
  line-height: 40px;
  text-transform: uppercase;
  font-size: 12px;
}
.navbar > .container .navbar-brand {
  color: #DADADA;
  font-size: 20px;
  margin: 13px 0;
  font-family: 'Roboto Slab', serif;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  border-right: none;
  border-left: none;
}
.navbar {
  border-radius: 0;
}
.navbar-default {
  border: none;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus,
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus,
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  color: #DA4453;
  background-color: transparent;
}
.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus,
.navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
.navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
  color: #fff;
  background-color: #DA4453;
}
.dropdown-menu {
  font-size: 13px;
}
.navbar-default .navbar-nav .open .dropdown-menu > li > a {
  color: #656D78;
}
@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #DADADA;
  }
}
.nav .open > a, .nav .open > a:hover, .nav .open > a:focus {
  border-left: 1px solid rgba(0, 0, 0, 0.1);
}
@media (min-width: 767px) {
  ul.nav li.dropdown:hover > ul.dropdown-menu {
    display: block;
  }
}
.dropdown-menu > li > a {
  padding: 10px 15px;
  color: #636467;
}
.dropdown-menu,
.dropdown-menu > .active > a,
.dropdown-menu > .active > a:hover,
.dropdown-menu > .active > a:focus {
  border: none;
}
.dropdown-menu>.active>a,
.dropdown-menu>.active>a:hover,
.dropdown-menu>.active>a:focus {
  background-color: #DA4453;
  color: #fff;
}

.dropdown-menu .divider {
  background-color: rgba(0, 0, 0, 0.1);
}
.navbar-nav > li > .dropdown-menu {
  padding: 0;
}
.navbar-nav > li > a {
  padding-top: 18px;
  padding-bottom: 18px;
}

.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: transparent;
}
.nav.navbar-nav {
  float: right;
}
@media (max-width: 767px) {
  .nav.navbar-nav {
    float: none;
  }
  .navbar > .container .navbar-brand {
    margin: 0;
  }
  .navbar-default .navbar-nav > li > a {
    line-height: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

/* =Comments
----------------------------------------------- */

.comment-content a {
  word-wrap: break-word;
}
.bypostauthor {
}
#respond {
  background-color: transparent !important;
  box-shadow: none !important;
  padding: 0px !important;
}
#respond > p, #respond p.comment-notes, p.logged-in-as {
  margin-bottom: 10px;
}

p.logged-in-as {
  padding-bottom: 0px;
}
.comment-list {
  margin-bottom: 40px !important;
  margin-left: 0px !important;
  padding-left: 0;
}
.comment-list,
.comment-list .children {
    list-style: none;
}
.comment .comment-body {
  background-color: #ffffff;
  margin: 0;
  overflow: hidden;
  padding: 25px;
  margin-top: 2em;
  padding-left: 100px;
  position: relative;
  border: 1px solid #E8E8E8;
  border-bottom: 1px solid #DADADA;
  border-radius: 4px;
}
.comment-list .children {
  margin-left: 0px!important;
  padding-left: 40px;
  border-left: 1px solid #DADADA;
  background-repeat: no-repeat;
  background-position: left 20px;
}
.comment-list li.comment > div img.avatar {
  position: absolute;
  left: 29px;
  top: 29px;
}
#comment-form-title {
  font-size: 24px;
  padding-bottom: 10px;
}
.comment-author.vcard {
  font-size: 12px;
}
.vcard .avatar {
  position: absolute;
  left: 20px;
  top: 29px;
  border-radius: 2px;
}
.comment-metadata {
  font-size: 11px;
  line-height: 16px;
  margin-bottom: 10px;
}
.comment-reply-link {
  float: right;
}
.form-allowed-tags code {
  word-wrap: break-word;
  white-space: inherit;
}
.comment-respond label {
  display: block;
  font-weight: normal;
}
.comment-respond .required {
  color: #C7254E;
}
#submit {
  font-size: 12px;
}
.comment-navigation,
.single .nav-links {
  overflow: hidden;
  margin-top: 30px;
}

/* =Attachment styling
----------------------------------------------- */
#image-navigation .nav-previous a,
#image-navigation .nav-next a{
  padding: 5px 20px;
  border: 1px solid #E8E8E8;
  border-radius: 4px;
  display: block;
}
#image-navigation .nav-previous a:hover,
#image-navigation .nav-next a:hover{
  background-color: #DA4453;
  color: #fff;
}
#image-navigation .nav-previous,
#image-navigation .nav-next {
  margin: 10px 0;
}

/* =Gallery
-------------------------------------------------------------- */
.gallery {
  margin-bottom: 20px;
}
.gallery-item {
  float: left;
  margin: 0 4px 4px 0;
  overflow: hidden;
  position: relative;
}
.gallery-columns-1 .gallery-item {
  max-width: 100%;
}
.gallery-columns-2 .gallery-item {
  max-width: 48%;
  max-width: -webkit-calc(50% - 4px);
  max-width:         calc(50% - 4px);
}
.gallery-columns-3 .gallery-item {
  max-width: 32%;
  max-width: -webkit-calc(33.3% - 4px);
  max-width:         calc(33.3% - 4px);
}
.gallery-columns-4 .gallery-item {
  max-width: 23%;
  max-width: -webkit-calc(25% - 4px);
  max-width:         calc(25% - 4px);
}
.gallery-columns-5 .gallery-item {
  max-width: 19%;
  max-width: -webkit-calc(20% - 4px);
  max-width:         calc(20% - 4px);
}
.gallery-columns-6 .gallery-item {
  max-width: 15%;
  max-width: -webkit-calc(16.7% - 4px);
  max-width:         calc(16.7% - 4px);
}
.gallery-columns-7 .gallery-item {
  max-width: 13%;
  max-width: -webkit-calc(14.28% - 4px);
  max-width:         calc(14.28% - 4px);
}
.gallery-columns-8 .gallery-item {
  max-width: 11%;
  max-width: -webkit-calc(12.5% - 4px);
  max-width:         calc(12.5% - 4px);
}
.gallery-columns-9 .gallery-item {
  max-width: 9%;
  max-width: -webkit-calc(11.1% - 4px);
  max-width:         calc(11.1% - 4px);
}
.gallery-columns-1 .gallery-item:nth-of-type(1n),
.gallery-columns-2 .gallery-item:nth-of-type(2n),
.gallery-columns-3 .gallery-item:nth-of-type(3n),
.gallery-columns-4 .gallery-item:nth-of-type(4n),
.gallery-columns-5 .gallery-item:nth-of-type(5n),
.gallery-columns-6 .gallery-item:nth-of-type(6n),
.gallery-columns-7 .gallery-item:nth-of-type(7n),
.gallery-columns-8 .gallery-item:nth-of-type(8n),
.gallery-columns-9 .gallery-item:nth-of-type(9n) {
  margin-right: 0;
}
.gallery-columns-1.gallery-size-medium figure.gallery-item:nth-of-type(1n+1),
.gallery-columns-1.gallery-size-thumbnail figure.gallery-item:nth-of-type(1n+1),
.gallery-columns-2.gallery-size-thumbnail figure.gallery-item:nth-of-type(2n+1),
.gallery-columns-3.gallery-size-thumbnail figure.gallery-item:nth-of-type(3n+1) {
  clear: left;
}
.gallery-caption {
  background-color: rgba(0, 0, 0, 0.7);
  -webkit-box-sizing: border-box;
  -moz-box-sizing:    border-box;
  box-sizing:         border-box;
  color: #fff;
  font-size: 12px;
  line-height: 1.5;
  margin: 0;
  max-height: 50%;
  opacity: 0;
  padding: 6px 8px;
  position: absolute;
  bottom: 0;
  left: 0;
  text-align: left;
  width: 100%;
}
.gallery-caption:before {
  content: "";
  height: 100%;
  min-height: 49px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}
.gallery-item:hover .gallery-caption {
  opacity: 1;
}
.gallery-columns-7 .gallery-caption,
.gallery-columns-8 .gallery-caption,
.gallery-columns-9 .gallery-caption {
  display: none;
}

/* =Footer
----------------------------------------------- */

#footer-area {
  //background-color: #313233;
  color: #999;
}
#footer-area a {
  color: #DADADA;
}
#footer-area .footer-widget-area {
  padding: 40px 0 20px 0;
  overflow: hidden;
}
#footer-area ul li {
  border-bottom: 1px solid #444;
}
#footer-area .site-info nav ul li {
  border-bottom: none;
}
.widgettitle {
  font-size: 14px;
  text-transform: uppercase;
  margin-bottom: 25px;
  margin-top: 0;
  color: inherit;
}
#footer-area .widget ul li {
  list-style: none;
}
.footer-nav.nav > li {
  position: relative;
  display: inline-block;
}
.footer-nav.nav {
  float: left;
  margin-bottom: 2px;
}
.footer-widget {
  overflow: hidden;
}
.copyright {
  margin-top: 10px;
  float: right;
  text-align: right;
}
#colophon {
  background-color: #1F1F1F;
  padding: 10px 0;
  border-top: 1px solid #3A3A3A;
}
.site-info a {
  color: #777;
}
.site-info a:hover {
  color: #999;
}
#footer-area a:hover {
  color: #fff;
}
.site-info {
  color: #999;
  font-size: 12px;
}
.footer-nav.nav > li > a:hover {
  background-color: transparent;
}
.scroll-to-top {
  background: #363636;
  background: rgba(100, 100, 100, 0.4);
  color: #FFF;
  bottom: 4%;
  cursor: pointer;
  display: none;
  position: fixed;
  right: 20px;
  z-index: 999;
  font-size: 16px;
  text-align: center;
  line-height: 40px;
  width: 40px;
  border-radius: 4px;
  -webkit-transition: background-color 0.3s linear;
     -moz-transition: background-color 0.3s linear;
       -o-transition: background-color 0.3s linear;
          transition: background-color 0.3s linear;
}
.scroll-to-top:hover {
  background: #DA4453;
  opacity: .8;
}

@media (max-width: 768px) {
  .site-info, .copyright {
    text-align: center;
  }
  .footer-nav.nav, .copyright {
    float: none;
  }
}

/* =Social icons
----------------------------------------------- */
#secondary .widget .social-icons a {
  color: #fff;
}
.social-icons {
  position: relative;
  text-align: center;
}
#secondary .widget .social-icons {
  text-align: left;
}
.social-icons a {
  font-size: 18px;
  line-height: 40px;
  list-style: none;
  display: inline-block;
  text-align: center;
  height: 40px;
  width: 40px;
  margin-right: 5px;
  margin-bottom: 5px;
  border-radius: 3px;
  background-color: #DADADA;
  -webkit-transition: background-color  0.5s;
     -moz-transition: background-color  0.5s;
       -o-transition: background-color  0.5s;
          transition: background-color  0.5s;
}
#footer-area .social-icons a {
  margin-right: 7px;
  background-color: #363636;
  color: #fff;
}

.social-icons a.facebook:hover {
  background-color: #4265b9 !important;
}
.social-icons a.twitter:hover {
  background-color: #55ACEE !important;
}
.social-icons a.dribbble:hover {
  background-color: #ea4c89 !important;
}
.social-icons a.flickr:hover {
  background-color: #ff0084 !important;
}
.social-icons a.googleplus:hover {
  background-color: #d62408 !important;
}
.social-icons a.skype:hover {
  background-color: #0bbff2 !important;
}
.social-icons a.pinterest:hover {
  background-color: #c31e26 !important;
}
.social-icons a.linkedin:hover {
  background-color: #005987 !important;
}
.social-icons a.vimeo:hover {
  background-color: #1bb6ec !important;
}
.social-icons a.tumblr:hover {
  background-color: #35506b !important;
}
.social-icons a.youtube:hover {
  background-color: #df3333 !important;
}
.social-icons a.instagram:hover {
  background-color: #F95B60 !important;
}
.social-icons a.rss:hover {
  background-color: #f39c12 !important;
}
.social-icons a.foursquare:hover {
  background-color: #2398C9 !important;
}
.social-icons a.soundcloud:hover {
  background-color: #F50 !important;
}
.social-icons a.github:hover {
  background-color: #4183C4 !important;
}
.fa-googleplus:before {
  content: "\f0d5";
}
.fa-vimeo:before {
  content: "\f194";
}

@media (max-width: 992px) {
  .site-branding {
    text-align: center;
  }
}

/* =Call For Action
----------------------------------------------- */
.cfa {
  padding: 30px 0px;
  background: #FFF;
  border-bottom: 1px solid #DADADA;
  text-align: center;
}
.cfa-text{
  font-size: 22px;
  color: #DA4453;
  display: block;
  padding-top: 10px;
}
.cfa-button {
  background-color: transparent;
  color: #DA4453;
  padding: 15px 30px;
  border-color: #DA4453;
}
.cfa-button a {
  color: #DA4453;
}
.cfa-button:hover {
  background-color: #DA4453;
  color: #fff;
}
@media (max-width: 767px) {
  .cfa {
    padding: 0 0 20px;
  }
  .cfa-button {
    padding: 10px 16px;
    margin-top: 10px;
  }
}

/* =Elements when no javaScript is present
----------------------------------------------- */
#submit,
.tagcloud,
.comment-reply-link,
.widget_rss ul,
button[type=submit],
.postform,
table#wp-calendar {
  display: none;
}
.no-js #submit,
.no-js .tagcloud,
.no-js .comment-reply-link,
.no-js .widget_rss ul,
button[type=submit],
.no-js .postform,
.no-js table#wp-calendar {
  display: block;
}

/** ADDED BY EVRHOY **/
.navbar.navbar-default{
  background-color: #ffffff;
}


.navbar-default .navbar-collapse, .navbar-default .navbar-form{
  background-color: #009FDA;
}

.navbar-header {
  background-color: #009FDA;
}

img#shout_logo_01{
  width: 80%;
}

.navbar-header {
  padding-left: 50px;
  padding-top: 25px;
  padding-bottom: 30px;
  width: 30%;
}


@font-face {
    font-family: Aleo-Regular;
    src: url(fonts/Aleo-Regular.otf);
}

@font-face {
    font-family: Aleo-Bold;
    src: url(fonts/Aleo-Bold.otf);
}

@font-face {
    font-family: Aleo-Light;
    src: url(fonts/Aleo-Light.otf);
}

@import url(http://fonts.googleapis.com/css?family=Roboto+Condensed:300italic,400italic,700italic,400,300,700);

.navbar-default .navbar-nav > li > a{
  font-family: Aleo-Regular;
  font-size: 18px;
  height: 145px;
  padding-bottom: 0;
    font-weight: 600;
}

.nav.navbar-nav{
  padding-top: 30px;
  position: absolute;
  right: 30px;
  //height: 150px;
  z-index: 100;
}

.navbar-nav > li > a {
  padding: 40px;
  padding-top: 18px;
  padding-bottom: 18px;
}

ul#menu-primary-menu a:hover{
  color: #ff0099;
}

#colophon{
  background-color: #ffffff;
  border-top:none;
}


.navbar-default .navbar-nav > .active > a{
  color:#ffffff;
  background: url('/wp-content/uploads/2015/04/arrow_up.png');
  background-repeat: no-repeat;
  background-size: 50px 25px;
    background-position: 50% 65%;
}

#white {
height: 20px;
  -webkit-box-shadow: 0 8px 10px -7px #7d7b7b;
  -moz-box-shadow: 0 8px 10px -7px #7d7b7b;
  box-shadow: 0 8px 10px -7px #7d7b7b;
  /* width: 1170px; */
  /* margin: 0 auto; */
  position: absolute;
  //width: 1170px;
  width: 1200px;
  z-index: 1000;
  background-color: #ffffff;
  //margin-right: 15px;
  //margin-left: 15px;
  margin-top: 130px;
}


#colophon{
  padding-top: 0;
}


#footer-text {
  padding: 2%;
  float: left;
  width: 50%;
  padding-left: 5%;
  color: #ffffff;
  font-family: 'Roboto Condensed', sans-serif;
    font-size: 170%;
}

.site-info.container .row{
  background-color: #ff0099;
  margin-right: 0;
  margin-left: 0;
}

#megaphone, #megaphone-close, #megaphone-small, #megaphone-close-small {
  float: right;
  //margin-top: -89px;
  //position: relative;
    z-index: 1000;
    position: absolute;
    bottom:0;
    right:0;
}

img#megaphone-image{
  /**width: 35%;**/
  width: 100%;
  float: right;
  cursor: pointer;
}

#main_media_image {
  width: 35%;
  float:left;
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  padding-left: 5%;
}

.container{
  background-color: #009FDA;
  padding-right: 0;
  padding-left: 0;
}

.main-content-area{
  margin-top: 0;
  margin-bottom: 0;
}


#contact{
    width: 42%;
    margin: 0 auto;
     top: 35%;
  -webkit-transform: translateY(3%);
  -moz-transform: translateY(3%);
  -ms-transform: translateY(3%);
  -o-transform: translateY(3%);
  transform: translateY(3%);
}

.calloutDown
    {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 100px 80px 0;
  border-color: transparent #ffffff transparent transparent;
  float: right;
  margin-right: 91px;
  margin-top: -2px;
    }

    .divContainerDown
    {
          background-color: #009FDA;
  border: solid 10px #ffffff;
  top: 1px;
  z-index: 3;
  //width: 500px;
  width: 100%;
  padding: 4px;
  //border-top-right-radius: 40px;
  //border-top-left-radius: 40px;
  //border-bottom-left-radius: 40px;
  border-radius:40px;
    }

    .calloutDown2
    {
        position: relative;
          left: 10px;
          top: -10px;
        border-color: transparent #009FDA transparent transparent;
        border-width: 0 80px 65px 0;
        width: 0;
        height: 0;
        border-style: solid;
        z-index: 10;
    }


#contact-inner {
  width: 80%;
  margin: 0 auto;
  padding-top: 5%;
  padding-bottom: 3%;
}

#address h1{
    font-family: Aleo-Regular;
  color: #ffffff;
  margin: 0;
  font-size: 18px;
  line-height: 140%;
    margin-bottom: 5%;
    text-shadow: none;
}

#address p {
  color: #ffffff;
  font-family: Aleo-Regular;
  font-size: 14px;
}

.post-inner-content {
  width: 40%;
  float: left;
  background-color: #009FDA;
  border: none;

}

.featured-image {
  width: 60%;
  float: right;
}

img.single-featured{
  width: 100%;
  //height: 660px;
  height:auto;
}

#contact-layer-black{
  //display: none;
  //overflow:hidden;
  //width: 1170px;
  width: 1200px;
  position: absolute;
  height: 660px;
  background-color: black;
  opacity: 0;
  filter: alpha(opacity=0);
  z-index: -100;
}

#contact-layer-black-next{
  //display: none;
  //overflow:hidden;
  //width: 1170px;
  width: 1200px;
  position: absolute;
  height: 660px;
  background-color: black;
  opacity: 0;
  filter: alpha(opacity=0);
  z-index: -100;
}

#contact-layer{
  //display: none;
  //width: 1170px;
  width: 1200px;
  position: absolute;
  height: 660px;
    cursor: pointer;
      opacity: 0;
  filter: alpha(opacity=0);
  z-index: -100;
}


#campaigns-menu, #media-menu {
  /* float: right; */
  position: absolute;
  //right: 15px;
  right: 0px;
  top: 35px;
  //z-index: 100;
    display:none;
    //display:block;
    margin-right: -2px;
    z-index: 1;
}

#media-menu{
  //right: 12px;
  right: -5px;
  width: 644px;
}


#media-next, #media-next-main, #campaigns-next-main {
  background-color: #ffffff;
  width: 145px;
    height: 72.5px;
    float:left;
    cursor: pointer;
  text-align: center;
}

#media-next-main, #campaigns-next-main {
  position: absolute;
  //right: 15px;
  right: 0px;
  top: 35px;
  margin-top: 2px;
  z-index: 1;
}

#media-next{
  margin-top: 2px;
  margin-right: -2px;
}

.campaigns-boxes {
    float:left;
}

 #media-boxes{
  float: left;
 }



.campaigns-boxes{
  width: 492px;
}

#campaigns-next{
    width: 145px;
    float:left;
    cursor: pointer;
  text-align: center;
  margin-top: 2px;
  margin-right: 0px;
  //height: 328px;
  height: 369px;
}

#campaigns-next-inner{
    //height: 328px;
    height: 369px;
    margin-top: -0.5px;
}

#media-boxes {
  //width: 375px;
  width:499px;
}

.campaigns-box, #media-box{
    width: 120px;
    border: none;
    height: 120px;
    text-align: center;
    background-color: #ffffff;
      margin: 1.5px;
}

#media-box{
  float:left;
  border: none;
  margin: 2px;
}

#media-box:hover{
  background-color: #009FDA;
}

.campaigns-box-blank{
  background-color: #ffffff;
}

.campaigns-box-blank, .campaigns-box-transparent {
      width: 120px;
  border: none;
  height: 120px;
  text-align: center;
  margin: 1.5px;
  float: left;
}

.campaigns-box-2{
    width: 120px;
    height: 70px;
    //float:right;
}

.campaigns-box-row {
  float: left;
  //height: 210px;
}

.campaigns-box{
  float:left;
}

.single-featured:hover{
  opacity: 1.0;
}

.campaigns-text, .media-text {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  padding: 2%;
}

.media-text{
    font-family: 'Roboto Condensed', sans-serif;
  //color: #009FDA;
  font-size: 16px;
}


#media-boxes a{
  color: #009FDA;
  -webkit-transition: none;
  -moz-transition: none;
  -o-transition: none;
  transition: none;
}

#media-boxes a:hover{
  color: #ffffff;
}

#campaigns-next-inner, #media-next-inner, #media-next-inner-main, #campaigns-next-inner-main {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
    font-family: 'Aleo-Regular';
  color: #009FDA;
  font-size: 20px;
  font-weight: 600;
}

#campaigns-next-inner, #media-next-inner{
  display: none;
  font-size: 40px;
}

.post-inner-content:first-child{
  border: none;
}

.post-inner-content h1 {
  font-family: 'Aleo-Regular';
  font-weight: 600;
  color: #ffffff;
  font-size: 55px;
  text-shadow: 4px 4px 0 #ff0099, -4px 4px 0 #ff0099, 4px -4px 0 #ff0099, -4px -4px 0 #ff0099, 0px 4px 0 #ff0099, 0px -4px 0 #ff0099, -4px 0px 0 #ff0099, 4px 0px 0 #ff0099, 6px 6px 0 #ff0099, -6px 6px 0 #ff0099, 6px -6px 0 #ff0099, -6px -6px 0 #ff0099, 0px 6px 0 #ff0099, 0px -6px 0 #ff0099, -6px 0px 0 #ff0099, 6px 0px 0 #ff0099, 4px 6px 0 #ff0099, -4px 6px 0 #ff0099, 4px -6px 0 #ff0099, -4px -6px 0 #ff0099, 6px 4px 0 #ff0099, -6px 4px 0 #ff0099, 6px -4px 0 #ff0099, -6px -4px 0 #ff0099;
}

.post-inner-content h2 {
  font-size: 35px;
  color: #ffffff;
}

.post-inner-content p {
font-family: 'Roboto Condensed', sans-serif;
  color: #ffffff;
  font-size: 23px;
  line-height: 110%;
  font-weight: 400;
}

.post-inner-content {
  //height: 660px;
}

.navigation {
  position: absolute;
  bottom: 0;
}


.navigation {
  position: absolute;
  bottom: 0;
  width: 30%;
}

.site-content [class*="navigation"] a {
  float: left;
  //background-color: #ffffff;
  border: none;
  color: #ffffff;
  font-family: 'Aleo-Regular';
  font-size: 16px;
}

.site-content [class*="navigation"] a:hover {
  //background-color: #ffffff;
  //color: #ff0099;
  color: #009FDA;
}

.site-content [class*="navigation"] a:nth-child(2) {
  //float: right;
}

.campaigns-boxes a{
  color: #009FDA;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 16px;
  text-transform: uppercase;
  line-height: 100%;
  -webkit-transition: none;
  -moz-transition: none;
  -o-transition: none;
  transition: none;
}

.campaigns-boxes a:hover{
  color: #ffffff;
}

.featured-image-squad {
  position: absolute;
  //width: 1170px;
  width: 1200px;
  margin-top: 4px;
}

#first_person {
  left: 10%;
  top: 75%;
  display: none;
  background-color: #009FDA;
}


#second_person {
  right: 24%;
  top: 55%;
  display: none;
  background-color: #009FDA;
}

#third_person {
  right: 46%;
  top: 65%;
  display: none;
  background-color: #009FDA;
}

.squad_person {
    position: absolute;
  padding: 1%;
  border: 3px solid #ffffff;
  border-radius: 20px;
  width: 220px;
  padding-right: 2%;
  padding-left: 2%;
  cursor: pointer;
}

.squad_person h1 {
  color: #ffffff;
  font-size: 18px;
  font-weight: 500;
  margin-top: 5px;
}

.squad_person h2 {
  color: #ffffff;
    margin-top: 0;
    font-size: 18px;
    font-weight: 500;
}

.squad_person p {
  color: #ffffff;
  font-size: 14px;
  font-weight: 500;
  margin-bottom: 0px;
}

.squad_person p span {
  color: #ff0099;
}

.gettoknow {
  cursor: pointer;
}

#first_person_description {
  //margin-right: 15px;
  width: 62%;
  background-color: #009FDA;
  position: absolute;
  right: 0;
  height: 100%;
    padding: 7%;
    padding-top: 4%;
        display: none;
}

#second_person_description{
  //margin-left: 15px;
  width: 50%;
  background-color: #009FDA;
  position: absolute;
  left: 0;
  height: 100%;
  padding: 7%;
  padding-top: 4%;
    display: none;
}

#third_person_description {
  //margin-right: 15px;
  width: 50%;
  background-color: #009FDA;
  position: absolute;
  right: 0;
  height: 100%;
    padding: 7%;
    padding-top: 4%;
        display: none;
}

.person_description h1 {
  color: #ffffff;
  font-size: 55px;
  text-shadow: 4px 4px 0 #ff0099, -4px 4px 0 #ff0099, 4px -4px 0 #ff0099, -4px -4px 0 #ff0099, 0px 4px 0 #ff0099, 0px -4px 0 #ff0099, -4px 0px 0 #ff0099, 4px 0px 0 #ff0099, 6px 6px 0 #ff0099, -6px 6px 0 #ff0099, 6px -6px 0 #ff0099, -6px -6px 0 #ff0099, 0px 6px 0 #ff0099, 0px -6px 0 #ff0099, -6px 0px 0 #ff0099, 6px 0px 0 #ff0099, 4px 6px 0 #ff0099, -4px 6px 0 #ff0099, 4px -6px 0 #ff0099, -4px -6px 0 #ff0099, 6px 4px 0 #ff0099, -6px 4px 0 #ff0099, 6px -4px 0 #ff0099, -6px -4px 0 #ff0099;
}

.person_description p{
  font-family: 'Roboto Condensed', sans-serif;
  color: #ffffff;
  font-size: 20px;
  line-height: 110%;
    padding-top: 5%;
}

#first_person_hide {
  position: absolute;
  bottom: 10%;
  font-family: 'Roboto Condensed', sans-serif;
  color: #ffffff;
  font-size: 22px;
  cursor: pointer;
}

#second_person_hide {
position: absolute;
  bottom: 10%;
  font-family: 'Roboto Condensed', sans-serif;
  color: #ffffff;
  font-size: 22px;
  cursor: pointer;
  right: 0;
  margin-right: 10%;
}

#third_person_hide {
  position: absolute;
  bottom: 10%;
  font-family: 'Roboto Condensed', sans-serif;
  color: #ffffff;
  font-size: 22px;
  cursor: pointer;
}

#content {
  margin-top: 10px;
}

#media_content {
  width: 92%;
  margin: 0 auto;
}

.shout_media {
  width: 25%;
  float: left;
    height: 100%;
    padding-top: 3%;
}

.media_image img{
  //padding: 10%;
}

.media_title{
  color: #ffffff;
  font-size: 20px;
}

#media_title_pink {
  //text-shadow: 1px 1px 0 #ff0099, -1px 1px 0 #ff0099, 1px -1px 0 #ff0099, -1px -1px 0 #ff0099, 0px 1px 0 #ff0099, 0px -1px 0 #ff0099, -1px 0px 0 #ff0099, 1px 0px 0 #ff0099, 2px 2px 0 #ff0099, -2px 2px 0 #ff0099, 2px -2px 0 #ff0099, -2px -2px 0 #ff0099, 0px 2px 0 #ff0099, 0px -2px 0 #ff0099, -2px 0px 0 #ff0099, 2px 0px 0 #ff0099, 1px 2px 0 #ff0099, -1px 2px 0 #ff0099, 1px -2px 0 #ff0099, -1px -2px 0 #ff0099, 2px 1px 0 #ff0099, -2px 1px 0 #ff0099, 2px -1px 0 #ff0099, -2px -1px 0 #ff0099;
}

#media_title_green{
  //text-shadow: 1px 1px 0 #00ff44, -1px 1px 0 #00ff44, 1px -1px 0 #00ff44, -1px -1px 0 #00ff44, 0px 1px 0 #00ff44, 0px -1px 0 #00ff44, -1px 0px 0 #00ff44, 1px 0px 0 #00ff44, 2px 2px 0 #00ff44, -2px 2px 0 #00ff44, 2px -2px 0 #00ff44, -2px -2px 0 #00ff44, 0px 2px 0 #00ff44, 0px -2px 0 #00ff44, -2px 0px 0 #00ff44, 2px 0px 0 #00ff44, 1px 2px 0 #00ff44, -1px 2px 0 #00ff44, 1px -2px 0 #00ff44, -1px -2px 0 #00ff44, 2px 1px 0 #00ff44, -2px 1px 0 #00ff44, 2px -1px 0 #00ff44, -2px -1px 0 #00ff44;
}

#media_title_purple {
  //text-shadow: 1px 1px 0 #aa00ff, -1px 1px 0 #aa00ff, 1px -1px 0 #aa00ff, -1px -1px 0 #aa00ff, 0px 1px 0 #aa00ff, 0px -1px 0 #aa00ff, -1px 0px 0 #aa00ff, 1px 0px 0 #aa00ff, 2px 2px 0 #aa00ff, -2px 2px 0 #aa00ff, 2px -2px 0 #aa00ff, -2px -2px 0 #aa00ff, 0px 2px 0 #aa00ff, 0px -2px 0 #aa00ff, -2px 0px 0 #aa00ff, 2px 0px 0 #aa00ff, 1px 2px 0 #aa00ff, -1px 2px 0 #aa00ff, 1px -2px 0 #aa00ff, -1px -2px 0 #aa00ff, 2px 1px 0 #aa00ff, -2px 1px 0 #aa00ff, 2px -1px 0 #aa00ff, -2px -1px 0 #aa00ff;
}

#media_title_yellow {
  //text-shadow: 1px 1px 0 #ffe600, -1px 1px 0 #ffe600, 1px -1px 0 #ffe600, -1px -1px 0 #ffe600, 0px 1px 0 #ffe600, 0px -1px 0 #ffe600, -1px 0px 0 #ffe600, 1px 0px 0 #ffe600, 2px 2px 0 #ffe600, -2px 2px 0 #ffe600, 2px -2px 0 #ffe600, -2px -2px 0 #ffe600, 0px 2px 0 #ffe600, 0px -2px 0 #ffe600, -2px 0px 0 #ffe600, 2px 0px 0 #ffe600, 1px 2px 0 #ffe600, -1px 2px 0 #ffe600, 1px -2px 0 #ffe600, -1px -2px 0 #ffe600, 2px 1px 0 #ffe600, -2px 1px 0 #ffe600, 2px -1px 0 #ffe600, -2px -1px 0 #ffe600;
}

#media_title_red {
  //text-shadow: 1px 1px 0 #fa0000, -1px 1px 0 #fa0000, 1px -1px 0 #fa0000, -1px -1px 0 #fa0000, 0px 1px 0 #fa0000, 0px -1px 0 #fa0000, -1px 0px 0 #fa0000, 1px 0px 0 #fa0000, 2px 2px 0 #fa0000, -2px 2px 0 #fa0000, 2px -2px 0 #fa0000, -2px -2px 0 #fa0000, 0px 2px 0 #fa0000, 0px -2px 0 #fa0000, -2px 0px 0 #fa0000, 2px 0px 0 #fa0000, 1px 2px 0 #fa0000, -1px 2px 0 #fa0000, 1px -2px 0 #fa0000, -1px -2px 0 #fa0000, 2px 1px 0 #fa0000, -2px 1px 0 #fa0000, 2px -1px 0 #fa0000, -2px -1px 0 #fa0000;
}

.media_more {
  font-family: Aleo-Regular;
  font-size: 15px;
  color: #ffffff;
  margin-top: 10%;
}

.media_more a {
  color: #ffffff;
}

.media_more a:hover {
  color: #ff0099;
}

#main_media {
  position: absolute;
  background-color: #009FDA;
  height: 100%;
}

.media_description {
  font-family: 'Roboto Condensed', sans-serif;
  color: #ffffff;
  font-size: 18px;
  line-height: 110%;
    margin-top: 10%;
}

.media_text {
  padding: 10%;
}

.main_media_text {
  float: left;
  width: 65%;
  padding: 5%;
  padding-top: 8%;
    padding-right: 10%;
}

.media_page .post-inner-content {
  padding: 0;
}

.media_page{
  height:660px;
}

.media_title{
    font-size: 22px;
  font-family: 'Aleo-Regular';
  font-weight: 600;
}


  #contact-layer-black-next, #contact-layer-black, #contact-layer {
    height: 100%;
  }

  body {
    background-color: #ffffff;
  }

  #view-more-from {
    font-family: 'Aleo-Regular';
    font-weight: 600;
    color: #ffffff;
    font-size: 16px;
  }

  #category-name {
    font-family: 'Aleo-Regular';
    color: #ff0099;
    font-size: 16px;
    font-weight: 600;
    margin-top: -1.5%;
    cursor: pointer;
  }

  h1.entry-title {
    margin-bottom: 7%;
  }

  #campaigns-next-inner-main{
    webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
  }

  #campaigns-next-inner-main:hover{
    color: #ff0099;
  }

  .categories-more {
    font-family: 'Aleo-Regular';
    color: #009FDA;
    font-size: 20px;
    font-weight: 600;
  }

  .categories-more:hover{
    color:#ff0099;
  }

  .categories {
    font-size: 14px;
    font-family: 'Roboto Condensed', sans-serif;
  }

  .categories-more {
    background-color: #ffffff;
    width: 147px;
    height: 72.5px;
    //float: left;
    cursor: pointer;
    text-align: center;
  }

  .categories {
  background-color: #ff0099;
  width: 145px;
  height: 55.7px;
  cursor: pointer;
  text-align: center;
  margin-top: 3px;
  color: #ffffff;
  }

  .categories:hover{
    background-color: #009FDA;
  }

  .categories-inner {
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
  }

  #campaign-boxes-main{
    float:left;
  }

  #contact-layer-black-next{
    cursor: pointer;
  }

  .triangle {
    width: 0;
    height: 0;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-left: 20px solid #ff0099;
    position: absolute;
    right: -20px;
    top: 87px;
    display: none;
  }

  #triangle-live {
    top: 147px;
  }

  #triangle-convenience {
    top: 207px;
  }

  #triangle-street {
    top: 265px;
  }

  #triangle-motion {
    top: 323px;
  }

  .get-more-boxes{
    display: none;
  }

  img.arrows{
    width: 15%;
    float: left;
    margin: 10%;
    cursor: pointer;
  }

  .campaigns-box-transparent .campaigns-text{
    top: 38px;
    left: 13px;
  }

  #contact-form-desc {
    color: #ffffff;
    font-family: Aleo-Regular;
    font-size: 22px;
  }

  #megaphone-close, #megaphone-close-small{
    display: none;
  }

  img#blue-arrow {
    width: 10%;
  }

  .site-navigation-inner.col-sm-12{
  padding: 0;
}

.collapse.navbar-collapse.navbar-ex1-collapse{
  padding: 0;
}

.main-content-inner.col-sm-12.col-md-12{
  padding: 0;
  background-color:#009FDA; 
}

.site-info.container {
  width: 1200px;
}

#secondary-menu{
  //display: none;
}

#arrow-down-menu, #arrow-down-menu-2 {
  width: 0;
  height: 0;
  border-left: 25px solid transparent;
  border-right: 25px solid transparent;
  border-top: 35px solid #ffffff;
  position: absolute;
  right: 10%;
  top: 40%;
  cursor: pointer;
}

#arrow-down-menu-2{
  display: none;
}

#secondary-menu {
  float: right;
  display: none;
}

#the-secondary-menu {
  position: absolute;
  //width: 100%;
  width: 780px;
  z-index: 10000;
  //margin-top: 100px;
  //top:140px;
  //display: none;
}

#secondary-menu-li{
  display: none;
}

#sec-menu{
  display: none;
}

#the-secondary-menu li{
  list-style-type: none;
  padding: 2%;
  padding-left: 7%;
   padding-right: 7%;
  background-color: #009FDA;
  //border-top: 2px solid #000000;
  font-family: 'Aleo-Regular';
  font-weight: 600;
    text-align: center;
    font-size: 20px;
        margin-top: 2px;
  margin-bottom: 3px;
}

#the-secondary-menu li:first-child{
    margin-top: 0px;
}

#the-secondary-menu li:hover{
  background-color: #ff0099;
}

#the-secondary-menu li a{
    color: #ffffff;
  }

#sec-menu, #sec-title {
  background-color: #ffffff;
  padding: 1%;
  padding-left: 7%;
  font-family: 'Aleo-Regular';
  font-weight: 600;
  color: #009FDA;
  font-size: 20px;
  padding-top: 1px;
}

ul#menu-secondary-menu {
  padding: 0;
}

.navigation-small{
  display: none;
}

  #small-footer{
    display: none;
  }

  #small-navigation{
    display: none;
  }

  #inner-white-down, #inner-white-down-menu {
    width: 0;
    height: 0;
    border-left: 25px solid transparent;
    border-right: 25px solid transparent;
    border-top: 31px solid #ffffff;
    z-index: 100;
    position: absolute;
  }

  #inner-white-down-menu{
    margin-left: 7%;
  }

  #bottom-menu, #small-footer-inner{
    width: 100%;
  }

  #bottom-menu{
    position: absolute;
    bottom: 0;
    left:0;
    z-index: 100;
  }

  #small-footer-inner{
    position: relative;
  }

  #bottom-menu{
    background-color: #ffffff;
  }

  #small-footer-inner-text {
    padding: 2%;
    width: 80%;
    padding-left: 5%;
    color: #ffffff;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 140%;
  }

  #main_media_small{
    display: none;
  }

  #media_content-small{
    display: none;
  }

  /** CAROUSEL **/



#campaign-carousel-main{
    width: 780px;
    margin: 0 auto;
    display: none;
}

.slick-slide{
    font-family: Aleo-Regular;
      font-size: 18px;
      font-weight: 600;
      color: #ffffff;
      text-transform: uppercase;
      background-color: #009FDA;
      opacity: 0.25;
}

.slick-slide.slick-active{
    background-color: #009FDA;
    opacity: 1;
}

.slick-slide.slick-active.slick-center{
    background-color: #ff0099;
    opacity: 1;
}

.campaign-carousel-text{
padding: 5%;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #009FDA;
  color: #ffffff;
  font-family: Aleo-Regular;
    margin-bottom: 3px;
    font-size: 120%;
}

.campaign-carousel-text:hover{
  background-color: #ff0099;
}

#campaign-carousel-main {
  max-height: 350px;
  overflow: auto;
}

/** END OF CAROUSEL **/


#super-main{
  overflow: hidden;
    position: relative;
    width: 100%;
}

#overlay-black{
    height: 100%;
    width: 100%;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 1;
    cursor: pointer;
    text-align: center;
}

#overlay-black{
  display: none;
}

  #squad-main-small{
    display: none;
  }

  #super-main{
    //height: 660px;
    height: 100%;
  }

  #post-inner-content{
    height: 100%;
  }

    #squad-main{
    height: 1060px
  }

  #contact-form{
    position: relative;
    top: 45%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
      width: 40%;
    margin: 0 auto;
  }

  #inner-layer-black, #inner-layer{
    position: absolute;
    width: 100%;
    height: 100%;
    text-align: center;
    z-index: 1;
    cursor: pointer;
  }

  #inner-layer-black{
      background:black;
    opacity: 0.75;
  }

  #contact-address{
    height: 200px;
  }

  #contact-left{
    width: 35%;
    float:left;
  }
  #contact-right{
    width: 65%;
    float:right;
    text-align: left;
    padding-left: 2%;
  }

  #contact-form-iframe{
    //width:400px;
    width: 90% !important;
    height:300px; 
  }

  input#input_1_1, input#input_1_2, input#input_1_3{
    width: 77% !important;
  }

  textarea#input_1_4{
    width: 95% !important;
  }

  .gfield_description.validation_message, .instruction.validation_message{
    color: red;
  }

  input#input_1_1, input#input_1_2, input#input_1_3{
    width: 75% !important;
  }

  #inner-layer-black{
    display: none;
  }

  #inner-layer{
    display: none;
  }

  .entry-content{
      overflow: auto;
      max-height: 400px;
  }

  .entry-content ul{
    font-family: 'Roboto Condensed', sans-serif;
    color: #ffffff;
    font-size: 20px;
    line-height: 120%;
    padding-top: 2%;
    padding-bottom: 2%;
  }

  span#next {
    float: right;
  }

    header.entry-header.page-header p {
  text-shadow: 2px 2px 0 #ff0099, -2px 2px 0 #ff0099, 2px -2px 0 #ff0099, -2px -2px 0 #ff0099, 0px 2px 0 #ff0099, 0px -2px 0 #ff0099, -2px 0px 0 #ff0099, 2px 0px 0 #ff0099, 4px 4px 0 #ff0099, -4px 4px 0 #ff0099, 4px -4px 0 #ff0099, -4px -4px 0 #ff0099, 0px 4px 0 #ff0099, 0px -4px 0 #ff0099, -4px 0px 0 #ff0099, 4px 0px 0 #ff0099, 2px 4px 0 #ff0099, -2px 4px 0 #ff0099, 2px -4px 0 #ff0099, -2px -4px 0 #ff0099, 4px 2px 0 #ff0099, -4px 2px 0 #ff0099, 4px -2px 0 #ff0099, -4px -2px 0 #ff0099;
  font-size: 60%;
  font-family: 'Roboto Condensed', sans-serif;
  }

  .arrow-up {
  width: 0;
  height: 0;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-bottom: 25px solid #009FDA;
  position: absolute;
  top: -25px;
  left: 44px;
}

  .arrow-up-back {
  width: 0;
  height: 0;
  border-left: 19px solid transparent;
  border-right: 19px solid transparent;
  border-bottom: 30px solid #ffffff;
  position: absolute;
  top: -30px;
  left: 40px;
}

li#field_1_5 {
    left: -999em;
    position: absolute;
}

.new_squad{
  width: 33%;
  float: left;
  padding: 1.5%;
  text-align: center;
  padding-top: 10%;
}

.squad-name {
    font-family: 'Aleo-Regular';
    font-weight: 600;
    color: #ffffff;
    font-size: 25px;
}

.squad-position {
    font-family: 'Aleo-Regular';
    font-weight: 500;
    color: #ffffff;
    font-size: 20px;
}

.squad-image img {
    border: 10px solid #ffffff;
}


#main_media{
  width: 100%;
}

/** ADDED BY EVRHOY 04052016 **/


.navigation {
    width: 60%;
    top: 0;
    bottom: inherit;
    background: #ffffff;
    right: 0;
}

.site-content [class*="navigation"] a{
    color: #009FDA;
}

span#prev a {
    margin-left: 15px;
}

.right-content span#next a {
    margin-right: 15px;
    float: right;
}


span#prev img.blue-arrow, span#next img.blue-arrow {
    width: 15px;
    margin-top: -5px;
}

span#prev img.blue-arrow{
  margin-right: 10px;
}

span#next img.blue-arrow{
  margin-left: 10px;
}

img#prevnext-center-image, img#prevnext-center-image-close {
    width: 50px;
    cursor: pointer;
        margin: auto;
}

.right-content span#prev{
  width: 25%;
  float: left;
}

.right-content span#next{
  width: 25%;
  float: right;
  min-height: 10px;
}

.right-content span#prevnext-center{
  float: right;
  width: 50%;
  text-align: center;
  margin-top: 20px;
}

#topmenu {
    display: none;
}

#campaign-boxes-main{
  display: block;
}

#top-campaign-boxes-main{
  float: none;
}

.top-get-more-boxes{
  display: none;
}

#top-campaigns-menu-hide{
  //display: none;
}

.top-get-more-boxes .campaigns-boxes {
    background-color: #ffffff;
    width: auto;
    padding-left: 7%;
    padding-top: 25px;
    padding-bottom: 25px;
    border-bottom: 1px solid #cccccc;
}

.top-get-more-boxes .campaigns-box{
  background-color: #ff0099;
}

.top-get-more-boxes .campaigns-text {
    color: #ffffff;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 16px;
    text-transform: uppercase;
    line-height: 100%;
    -webkit-transition: none;
    -moz-transition: none;
    -o-transition: none;
    transition: none;
}

.top-get-more-boxes a{
  padding: 0 !important;
  margin: 0 !important;
}

.site-content [class*="navigation"] a, .site-content [class*="navigation"] a:hover{
  border: 0;
  border-radius: 0;
  background: #ffffff;
}


.top-get-more-boxes .campaigns-box-blank{
  background-color: #ff0099;
}

#prevnext-center-image-close{
  display: none;
}

/** START OF RESPONSIVENESS **/

/**@media (max-width: 1196px){**/
@media (max-width: 1200px){
  .navbar-default .navbar-nav > li > a{
    height: 130px;
  }

    #white{
      //width: 970px;
      width: 1000px;
      margin-top: 120px;
  }

  #megaphone, #megaphone-close{
      //margin-top: -74px;
  }

  .post-inner-content h1{
    font-size: 40px;
  }

  .post-inner-content h2{
    font-size: 30px;
  }

  .post-inner-content p{
    font-size: 20px;
  }

  #footer-text{
    font-size: 18px;
  }

  #contact-layer-black-next, #contact-layer-black, #contact-layer, .featured-image-squad {
    //width: 970px;
    //width: 1000px;
    width:100%;
  }

  #contact {
    width: 53%;
  }

  .calloutDown{
    margin-right: 125px;
  }

  .person_description h1{
    font-size: 45px;
  }

  .person_description p{
    font-size: 18px; 
  }

  .media_title {
    font-size: 18px;
  }

  .media_description, .media_more {
    font-size: 16px;
  }

  #campaigns-next{
    margin-right: -2px;
  }

  .site-info.container {
    width: 1000px;
  }


  #contact-small{
    display: none;
  }

  .media_page{
    height:560px;
  }

  #squad-main{
    height: 550px
  }

  #contact-address{
    height: 125px;
  }

  #address h1{
    font-size: 14px;
  }

  #address p{
    font-size: 12px;
  }

  #contact-form-desc{
    font-size: 18px;
  }

  .calloutDown2{
    border-width: 0 50px 35px 0;
  }

  .calloutDown{
    border-width: 0 70px 50px 0;
  }

  .entry-content{
      max-height: 300px;
  }

  #contact-form{
    top: 47%;
  }

    .post-inner-content h1 {
    text-shadow: 2px 2px 0 #ff0099, -2px 2px 0 #ff0099, 2px -2px 0 #ff0099, -2px -2px 0 #ff0099, 0px 2px 0 #ff0099, 0px -2px 0 #ff0099, -2px 0px 0 #ff0099, 2px 0px 0 #ff0099, 4px 4px 0 #ff0099, -4px 4px 0 #ff0099, 4px -4px 0 #ff0099, -4px -4px 0 #ff0099, 0px 4px 0 #ff0099, 0px -4px 0 #ff0099, -4px 0px 0 #ff0099, 4px 0px 0 #ff0099, 2px 4px 0 #ff0099, -2px 4px 0 #ff0099, 2px -4px 0 #ff0099, -2px -4px 0 #ff0099, 4px 2px 0 #ff0099, -4px 2px 0 #ff0099, 4px -2px 0 #ff0099, -4px -2px 0 #ff0099;
  }

  .container{
    width:100%;
  }

  .site-info.container{
    width: 100%;
  }

  #white{
    width: 100%;
  }

  .row{
    margin-left: 0;
    margin-right: 0;
  }

  #colophon{
    padding-bottom: 0;
  }

  .campaigns-box, .campaigns-box-blank {
    width: 110px !important;
    height: 110px !important;
  }

  .top-get-more-boxes .campaigns-text{
    font-size: 14px !important;
  }


}

@media (max-width: 1050px){
  .campaigns-box, .campaigns-box-blank  {
    width: 100px !important;
    height: 100px !important;
  }

}


/** START OF PORTRAIT **/

/**@media (max-width: 996px){**/
@media (max-width: 992px){



  .post-inner-content {
    width: 100%;
    float: right;
  }

  .featured-image {
    width: 100%;
    float: left;
    //margin-top: 30px;
  }

  #white{
      //width: 750px;
      width: 780px;
      margin-top: 100px;
  }

  #megaphone, #megaphone-close {
    //margin-top: -64px;
  }

  .post-inner-content h1{
    font-size: 45px;
  }

  .post-inner-content h2{
    font-size: 35px;
  }

  .post-inner-content p{
    font-size: 23px;
  }

  .navigation{
      bottom: 50%;
  }


  #contact {
    width: 63%;
  }

  .calloutDown {
    margin-right: -28px;
  }

  .media_title{
    font-size: 200%;
    width: 100%;
    text-align: center;
    padding-bottom: 10%;
  }

  .media_description{
    font-size: 16px;
  }

  .shout_media{
    padding-top: 6%;
  }

  .post-inner-content p {
    font-size: 20px;
  }

  img.single-featured{
    //height: 500px;
    height: auto;
    margin-top: 30%;
  }

  #contact-layer-black-next, #contact-layer-black, #contact-layer, .featured-image-squad {
    //width: 750px;
    width: 100%;
    //display: none;
  }

  img.single-featured.wp-post-image{
    margin-top: 0;
    //height: 100%;
  }

  #main_media_image img.single-featured.wp-post-image{
    padding-top: 40%;
  }

  .main_media_text{
    padding-top: 15%;
  }

  .squad_person h1{
      font-size: 20px;
  }

  .squad_person h2{
      font-size: 18px;
  }

  .squad_person p{
    font-size: 15px;
  }

  #media-next-main, #campaigns-next-main{
    display: none;
  }

  #campaigns-menu, #media-menu{
    display: none;
  }

  ul#menu-primary-menu{
    display: none;
  }

  .navbar-header{
    padding-top: 15px;
  }

  #shout_logo {
    width: 125%;
  }

  #secondary-menu{
    display: block;
  }

  #white {
    //height: 43px;
    display: none;
  }

  .site-info.container {
    width: 780px;
  }

  #content{
    margin-top: 0px;
  }

  .navigation{
    display: none;
  }

  .navigation-small{
    display: block;
      width: 80%;
        height: 80px;
  }

  #prev-small {;
    width: 25%;
    float:left;
    text-align: center;
      height: 100%;
  }

  #next-small {
    width: 25%;
    float:left;
    text-align: center;
    height: 100%;
  }

  #small-menu, #small-menu-2, #top-small-menu, #top-small-menu-2{
    width: 50%;
    float:left;
        text-align: center;
        height: 100%;
  }

  .site-content [class*="navigation"] a{
    //background-color: #ffffff;
    margin-bottom: 0;
    height: 100%;
  }

  .site-content [class*="navigation"] a:hover{
    //background-color: #ffffff;
    margin-bottom: 0;
  }

  img.blue-arrow{
    width:20%;
     position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
  }


  #small-menu-campaigns, #small-menu-campaigns-2{
        position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%); 
  }


  img#small-menu-image, img#small-menu-image-2{
    width: 25%;
     position: relative;
     cursor: pointer;
    /**top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);**/
  }

  #small-menu-2, #top-small-menu-2{
    display: none;
  }

    #megaphone-small, #megaphone-close-small {
    //margin-top: -155px;
    width: 20%;
  }

  #footer-text{
    width:60%;
  }

  img#megaphone-image {
    width: 80%;
  }

  #colophon{
    display: none;
  }

  #inner-white{
    height: 40.7969px;
    padding: 1%;
    padding-left: 7%;
    font-family: 'Aleo-Regular';
    font-weight: 600;
    color: #009FDA;
    font-size: 20px;
    padding-top: 1px;
  }

  #small-navigation{
    display: block;
    width:780px;
    margin: 0 auto;
  }

  #small-footer{
    display: block;
    width: 780px;
    margin: 0 auto;
    background-color: #ff0099;
  }

  #media_content{
    display: none;
  }

  .media-box-small {
    width: 50%;
    float: left;
    background-color: #009FDA;
    height: 390px;
    border-bottom: 4px solid #ffffff;
    text-align: center;
  }

  .media_image img{
      width: 100%;
      padding: 4%;
  }

  #main_media{
    display: none;
  }

  #main_media_small{
    display: block;
  }

  .post-inner-content{
    height:100%;
  }

  #media-featured-image img.single-featured.wp-post-image {
    width: 40%;
      height: auto;
  }

  #media-featured-title {
    padding-left: 10%;
    padding-right: 5%;
  }

  #media-featured-content {
    padding-left: 10%;
    padding-right: 5%;
     padding-bottom: 10%;

  }

  #media_content-small{
    display: block;
  }

  .main-content-inner.col-sm-12.col-md-12{
    margin-top:5%;
  }

  #campaign-carousel-main{
      display: block;
      //display: none;
      position: absolute;
      //bottom: 50px;
      bottom: 80px;
      right: 0;
      //z-index: 100;
      z-index: -10; 
  }

  .post-inner-content{
    position: relative
  }

  #campaigns-next-main{
    display: none;
  }

  #campaigns-next-inner-main{
    display: none;
  }

  #media-next, #media-next-main, #campaigns-next-main {
    display: none;
  }

  #media-next-main, #campaigns-next-main{
    display: none;
  }

  #campaigns-menu, #media-menu{
    display: none;
  }

  #squad-main{
    display: none;
  }

  #squad-main-small{
    display: block;
  }

  .squad-box{
    width: 50%;
      float: left;
      padding:5%;
      text-align: center;
      min-height: 500px;
  }

  .squad-name {
    font-family: 'Aleo-Regular';
    font-weight: 600;
    color: #ffffff;
    font-size: 30px;
  }

  .squad-position {
    font-family: 'Aleo-Regular';
    font-weight: 500;
    color: #ffffff;
    font-size: 25px;
  }

  .squad-image {
    margin-bottom: 7%;
  }

  .squad-image img {
    border: 10px solid #ffffff;
  }

  .post-inner-content{
    padding-bottom: 140px;
  }

  .media_page{
    height: 100%;
  }

  #media-featured-content{
    padding-bottom: 20%;
  }

  #media-featured-image {
    padding-top: 5%;
    padding-bottom: 5%;
  }

  #contact-form{
    width: 80%;
  }

  #address h1{
    font-size: 18px;
  }

  #address p{
    font-size: 14px;
  }

  #contact-address{
    height: 200px;
  }

  .calloutDown2{
    border-width: 0 80px 65px 0;
  }

  .calloutDown{
    border-width: 0 100px 80px 0;
    margin-right: 28px;
  }

  #contact-form-desc{
    font-size: 22px;
  }

  .entry-content ul{
    font-size: 18px;
    line-height: 110%;
  }

  .view-more{
    display: none;
  }

  .entry-content {
    max-height: none;
  }

  .media_page .hentry {
    min-height: 800px;
  }

  #menu-item-228 a{
    cursor: pointer;
  }

  #small-navigation{
    width: 100%;
  }

  #the-secondary-menu{
    width: 100%;
  }

  #small-footer{
    width: 100%;
  }

  #campaign-carousel-main{
    width: 100%;
  }

}


@media (max-width: 768px){
  .navbar-header {
    padding-left: 20px;
    padding-top: 15px;
    padding-bottom: 15px;
    width:100%;
  }

  img#shout_logo_01{
    width: 50%;
  }

  .post-inner-content {
    width: 100%;
    float: right;
  }

  .featured-image {
    width: 100%;
    float: left;
  }

  #white{
    display: none;
    //width: 102.1%;
  }

  .navigation{
      bottom: 10%;
  }

  button.btn.navbar-toggle{
    display: none;
  }

  #arrow-down-menu, #arrow-down-menu-2{
    right: 50px;
  }

  #shout_logo {
    width: 65%;
    margin-left: 4%;
  }

  #contact-layer-black-next, #contact-layer-black, #contact-layer, .featured-image-squad {
    width: 100%;
  }

  .site-info.container {
    width: 105%;
  }

  .row{
    margin-right: 0px;
  }

  .featured-image {
    margin-top: 0px;
  }

  #small-navigation{
    width:100%;
    margin: 0 auto;
  }

  #the-secondary-menu{
    width: 100%;
    //top:150px;
  }

  #small-footer{
    width: 100%;
  }

  .media-box-small{
    height: 100%;
  }

  .media_image img{
    width: 70%;
    margin-top: 5%;
    padding:0;
  }

  .media_title{
    font-size: 130%;
  }

  #megaphone-small, #megaphone-close-small {
    //margin-top: -130px;
    width: 20%;
  }



  #campaign-carousel-main{
      width: 100%;
  }

  #contact-form{
    top:40%;
  }




}


@media (max-width: 480px){
 #arrow-down-menu, #arrow-down-menu-2{
    border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-top: 20px solid #ffffff;
      right: 7%;
  }

  #small-footer-inner-text{
      font-size: 80%;
  }

  .navigation-small{
    height: 60px;
  }

  .main-content-inner.col-sm-12.col-md-12{
    margin-top:10%;
  }

  .media_image img{
    width:50%;
    margin-top: 10%;
  }

  #inner-white-down-menu{
        border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-top: 20px solid #ffffff;

  }

  .media_title{
    font-size: 100%;
  }

  .slick-slide{
    font-size: 14px;
  }

  #campaign-carousel-main{
    bottom: 30px;
  }

  .post-inner-content h1{
    font-size: 30px;
  line-height: 130%
  }

  img.blue-arrow{
      width: 40%;
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-65%);
    -moz-transform: translateY(-65%);
    -ms-transform: translateY(-65%);
    -o-transform: translateY(-65%);
    transform: translateY(-65%);
  }

  #media-featured-image img.single-featured.wp-post-image{
    width: 80%;
  }

  #media-featured-image {
    //padding-top: 0%;
  }

  .squad-name {
    font-size: 100%;
  }

  .squad-position {
    font-size: 100%;
  }

  .squad-box {
    padding-top: 10%;
    padding-left: 10%;
    min-height: 300px
  }

  .squad-image{
    border: 5px solid #ffffff;
  }

  #address h1{
    font-size: 12px;
  }

  #address p{
    font-size: 10px;
  }

  #contact-left{
    width: 25%;
  }

  #contact-right{
    width: 75%;
  }

  #contact-address {
    height: 120px;
  }

  /**#contact-form-iframe{
    width:200px;
    height:300px; 
  }**/

  input#input_1_1, input#input_1_2, input#input_1_3{
      width: 65% !important;
  }

  textarea#input_1_4 {
    width: 99% !important;
  }

  #required{
    font-size: 12px;
  }

  #contact-form-desc{
    font-size: 12px;
  }

  label.gfield_label{
    font-size: 14px;
  }

  .calloutDown2{
    border-width: 0 60px 45px 0;
  }

  .calloutDown{
    border-width: 0 80px 60px 0;
  }

  .gfield_description.validation_message, .instruction.validation_message{
    font-size: 10px;
  }

  #campaign-carousel-main {
    bottom: 50px;
  }

  .media_page .hentry {
    min-height: 700px;
  }

  #contact-form{
    top:40%;
  }

   #shout_logo {
    margin-left: 1%;
  }

  #campaign-carousel-main{
    max-height: 360px;
  }

  #contact-form {
    top: 45%;
  }


}












